%h1 Here are the teams!!!

%p
  %b Started:
  = @game.started_at.strftime("%d %b %Y")

.row
  - @game.teams.each do |team|
    .span5.well
      %h3= team.name
      %ul.unstyled
        - team.players.each do |player|
          %li= player.name

= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path
